{% extends 'base.html' %}

{% block content %}
    {% for i in products %}
        <div class="container">
            <h2>{{ i.name }}</h2>
            <p>{{ i.name }} {{ i.price }} {{ i.category }}</p>
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{{ i.image.url }}" alt="Card image" style="width:100%">
                <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}